<!-- this is only the body bits with the complete HTML in main.handlebars -->
<div class="row">
  <header class="pageTitle">
    <h1 class="Title">
      index page
    </h1>
    <nav class="row">

    </nav>
  </header>

  <script src="{{url}}" type="text/javascript"></script>

<div id="map"></div>
<iframe class ="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d383997.2134389233!2d174.48235827671903!3d-41.24403211880768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d38b1fc49e974cb%3A0xa00ef63a213b470!2sWellington!5e0!3m2!1sen!2snz!4v1483484028438" allowfullscreen></iframe>


</div>
